<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Say Cheese!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('link_layout') -%>
  </head>
  <body class="main-body">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- home page -->
    <section id="sec1">
      <!-- navbar   -->
     <%- include('layout') -%>
      <div class="container-fluid big-container">
        <!-- <img class="big-img" src="images/image (1).jpg" alt="girl eating pizza"> -->
        <h1 id="big-head">Cheesify your mood!</h1>
        <button id="main-button" class="btn-main"><a class="explore-link" href='menu'>EXPLORE</a></button>
        <!-- <span class="material-icons-outlined">
              chevron_right
              </span></button> -->
        <!-- <i class="fas fa-arrow-right"></i> -->
        <!-- A bite to cheer you up!<br> -->
      </div>
    </section>

    <!-- Reviews and combos -->

    <section id="sec2">
      <div class="row">
        <div class="col-lg-4">
          <div class="img-div">
            <img
              class="small-img"
              src="/images/veg_corn_pizza.jpg"
              alt="pizza"
            />
          </div>
        </div>

        <div class="col-lg-8 text-div">
          <h1>Our Story...</h1>
          <p class="about">
            Say Cheese! is all about quality you can trust. As one of the
            original founding Pizza brands and the 3rd largest Pizza chain in
            India, our sole mission is making the freshest, tastiest and
            cheesiest Pizza around. Our classic pan pizza will always be a fan
            favourite, with a soft and chewy crust perfectly balancing out the
            healthy tomato puree and mozzarella - cheddar blended cheese. Our
            authentic Italian crust for those who would prefer a light and airy
            crust to more fully enjoy the toppings. Thin, light and delicious.
            Our newest addition of Puree sauces will blow your mind. Our
            suggestions of combinations might be helpful but ultimately the
            power lies with you.
          </p>
        </div>
      </div>
      <!-- <div class="big-box">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active ">
               
                <p class="review-text">This is definitely the best place to grab the tastiest pizza!</p>
              </div>
              <div class="carousel-item ">
                
                <p class="review-text">I love the way the pizzas are delivered. Always in time and with proper packaging. This definitely adds to my experience.</p>
              </div>
              <div class="carousel-item">
                <p class="review-text">Say cheese! makes my movie nights and cricket matches even more special. Thanlyou for being so cheesy:)</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div> -->
    </section>

    <!-- contact section -->
    <section id="sec3">
      <h1 class="footer-heading">
        We offer you an Unforgettable Delivery experience.
      </h1>
    </section>

    <script src="../../public/js/app.js" async defer></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- middle section -->
  </body>
</html>
