// //colors
$primary: #f6eec9;
$red:#790404;
$orange:#ffa36c;
$green:#799351;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$secondary: #F8F8F8;
// $primary-hover:;
// $secondary:;
// $pure:;
// $dark:;
// $gray:;
$smooth:all .3s ease-in-out;