@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
/* home-page styles */
.main-body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
  }
  .big-container {
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/images/pizzahr.jpg");
    background-size: cover;
    height: 650px;
    text-align: center;
  
    z-index: -3000;
  }
  
  #big-head {
    /* text-align:right; */
    color: #f6eec9;
    text-align: center;
    font-size: 5rem;
    z-index: 100;
    padding-top: 100px;
    font-family: "Courgette", cursive;
  }
  
  #main-button {
    margin-top: 100px;
  }
  .btn-main {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #f6eec9;
    font-family: "Mali", cursive;
    font-size: 22px;
    font-weight: 100;
    padding: 10px;
    background-color: rgba(164, 24, 24, 0.9);
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  
  .btn-main:hover {
    transition:$smooth;
    background: #799351;
    border: solid #000000 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none !important;
  }
  .explore-link:visited{
   text-decoration: none !important;
   color:#f6eec9 !important; 
  }
  .fa-arrow-right {
    padding-left: 10px;
  }
  
  /* navbar */
  .navbar {
    background-color: rgba(121, 5, 5, 0.9);
    font-family: "Mali", cursive;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
  }
  .navbar-toggler{
    background-color: #fff;
  }
  .nav-link {
    color: #f6eec9 !important;
  }
  .nav-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10%;
  }
  .nav-item:hover {
    transition:$smooth;
    background-color: #799351;
  }
  .dropdown-item:hover {
    transition:$smooth;
    background-color: #ffa36c !important;
    text-decoration:none !important;
  }
 .last-item{
    background: #ffa36c;
  }
  .logo{
    display:inline-block;
  }
  /* brand */
  /* .navbar-brand {
    font-family: "Nosifer", cursive;
    color: #f6eec9 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px  #FFA36C;
    background-color: #0099cc;
    border-radius: 50px;
    padding:0 10px;
    margin:10px 0;
    text-align: center;
    border: 3px solid #ffff00 !important;
  } */
  .navbar-brand {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .logo-text {
    font-family: "Londrina Solid", cursive !important;
    font-weight: 300;
    color: #ffa36c !important;
    /* text-shadow: 2px 2px 4px  #FFA36C; */
    font-size: 1.7rem;
  }
  .logo {
    height: 40px;
    width: 40px;
    padding-bottom:2px;
  }
  
  /* reviews section */
  
  #sec2 {
    background-color: #f6eec9;
  
    text-align: center;
  }
  .small-img {
    /*  */
    border-radius: 20%;
    border: 5px solid #799351;
    /* box-shadow: 3px 3px 3px 3px #799351; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
    display: block;
    transition: transform .99s ease-in-out;
    transform:scale(1);
    width: 300px;
    height: 300px;
    
  }
  .img-div {
    padding-left: 100px;
    padding-right: 0;
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow:hidden;
    
    
  }
  
  .small-img:hover {
    transform: scale(1.04);
  }
  
  .text-div {
    text-align: left;
    padding-top: 45px;
    padding-right: 90px;
    padding-left: 0;
    margin-left: 0;
  }
  .text-div h1 {
    font-family: "Courgette", cursive;
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffa36c;
  }
  .about {
    line-height: 2rem;
    margin-top: 30px;
    font-family: "Mali", cursive;
    font-size: 1.1rem;
    font-weight: 600;
    /* color:#ffa36c; */
  }
  
 
  .footer-heading {
    color: #f6eec9;
    font-family: "Courgette", cursive;
    padding-top: 80px;
    font-size: 3rem;
    width: 70%;
    margin: auto;
  }

  //login-page styles
  .login-body{
    /* background-color:#f6eec9 !important; */
    background: url("/images/loginback2.jpg");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    font: 600 16px 'Montserrat' sans-serif;
}


.login-box {
  width: 100%;
  max-width: 400px;
  min-height: 600px; 
  margin-bottom: 10px;
  margin-top:10px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left:80px;
  top:10px;
  
  background: url("/images/illu.webp") no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(121, 5, 5, 0.9);
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none;
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase;
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
  color: #f6eec9;
  border-color: $green;
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-space .group {
  margin-bottom: 15px;
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #f6eec9;
  display: block;
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1);
}

.login-space .group input[data-type="password"] {
 
  -webkit-text-security: circle;
}

.login-space .group .label {
  color: #aaa;
  font-size: 12px;
}

.login-space .group .button {
  background: $green;
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1);
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #f6eec9;
  position: absolute;
  transition: all .2s ease-in-out 0s;
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-space .group .check:checked+label {
  color: #f6eec9;
}

.login-space .group .check:checked+label .icon {
  background: #1161ee;
}

.login-space .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
  transform: rotate(0);
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
  transform: rotate(0);
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

// a {
//   color: inherit;
//   text-decoration: none;
// }

.hr {
  height: 2px;
  margin: 60px 0 10px 0;
  background: rgba(255, 255, 255, .2);
}

.foot {
  text-align: center;
  margin: 0;
  color:#f6eec9;
}

.card {
  width: 500px;
  left: 100px;
}

::placeholder {
  color: #b3b3b3;
}

//menu-page styles
.menu-body{
  background: url("/images/loginback2.jpg");
    background-size: cover;
    overflow-x: hidden;
    // overflow-y: hidden;
    font: 600 16px 'Montserrat' sans-serif;
}

.menu-body h1{
  color:#f6eec9;
  font-family: "Courgette", cursive;
  font-size: 30px;
}
.size{
  background:$green;
}
.add-to-cart{
  background:$primary;
  border:2px solid $orange;
  color:$orange;
  transition:$smooth;
  &:hover{
    background:$orange;
    border-color:$primary;
    color:$primary;
    text-decoration:none !important;
  }
}
.menu-card-single{
  background:#f6eec9;
  border-radius: 7px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
//cart designing

.cart-body{
  background:$primary;
  .amount{
    color:$orange;
  }
}

.cart-button{
  background:$primary;
  border:2px solid $orange;
  color:$orange;
  transition:$smooth;
  &:hover{
    background:$orange;
    border-color:$primary;
    color:$primary;
    text-decoration:none !important;
  }
}
.noty_theme__mint{
  border-radius:50px !important;
  padding-left:8px !important;
}

a.link{
  color:$orange;
}
 /* sec3 */
 #sec3 {
  // height: 1000px;
  background-color: rgba(121, 5, 5, 0.9);
  text-align: center;
}
.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  margin-top:100px;
}

.review .box-container .box{
  text-align: center;
  padding:1rem;
  border:0.5rem solid $green;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
  border-radius: .5rem;
  flex:1 1 10rem;
  background:#333;
  margin-top: 6rem;
  margin-right:20px;
  // margin-left:20px;
  // margin-right:2rem;
}

.review .box-container .box img{
  height: 8rem;
  width:8rem;
  border-radius: 50%;
  border:0.5rem solid $primary;
  margin-top: -8rem;
  object-fit: cover;
  // text-align:center;
}

.review .box-container .box h3{
  font-size: 2rem;
  color:#fff;
  padding:.5rem 0;
  color:$primary;
}

.review .box-container .box .stars i{
  font-size: 1rem;
  color:$orange;
  padding:.5rem 0;
}

.review .box-container .box p{
  font-size: 1rem;
  color:#eee;
  padding:1rem 0;
  font-family: "Mali", cursive;
  color:$primary;
}
#footer {
  text-align: center;
  padding: 7% 15%;
}
.icon-row {
  padding-bottom: 10px;
}

#copyright{
  margin-top:1rem;
  font-size:1rem;
  font-family: "Mali", cursive;
  color:$green;
}
i{
  color:$orange;
  transition:$smooth;
  &:hover{
   
    color:$primary;
    text-decoration:none !important;
  }
}

.order-body{
  background-color:$primary;
}
.admin-table>*{
  background-color:$primary !important;
 
  border:2px solid $green !important;
}
.cust-table >*{
  background-color:$primary;
  border:2px solid $green !important;
}
// #orderTableBody{
//   border:2px solid $green !important;
// }
.main-admin-table{
  margin-bottom:2rem;
}